.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-title {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 0.15em;
    color: #9b6637;
    cursor: pointer;
    border-bottom: 1px solid #9b6637;
    text-decoration: none;
}
