.contact-us-container {
    font-family: "Crimson Text", serif;
}

.contact-us-content {
    position: relative;
    text-align: center;
    height: 450px; /* Set a fixed height for the image container */
    overflow: hidden;
}

.contact-us-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    padding: 43px 150px;
}

.contact-us-overlay h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 2.2em;
    letter-spacing: 3px;
}